@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway:wght@300&family=Unbounded:wght@500&display=swap');

body {
  background-color: #98c29a ;
  text-align: center;
  margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    margin: auto;
}

.home a{
  color: #d398d3 ;

}

.new_activity a{
    color: #c4801c;
}
  

.home a:hover {
    color: #dac2da ;
}

.new_activity a:hover {
    color: #e0a956 ;
}

.home_header {
  margin-top: 300px;
  padding: 0;
  overflow: hidden;
  font-family: 'Unbounded', cursive;
  color: #3B633D ;
}

.activityName {
  font-family: 'Unbounded', cursive;
  color: #3B633D;
  }
    
* {

  text-align: center;
    
  }